kind: Deployment
apiVersion: apps/v1
metadata:
  name: "{{name}}"
  namespace: '{{ meta.namespace }}'
  labels:
    app: "{{name}}"
    container: spring
    group: microcks
    app.kubernetes.io/name: microcks-webapp
    app.kubernetes.io/instance: "microcks-webapp-{{name}}"
    app.kubernetes.io/version: "{{version}}"
    app.kubernetes.io/component: webapp
    app.kubernetes.io/part-of: "{{name}}"
    app.kubernetes.io/managed-by: microcks-operator
    app.openshift.io/runtime: java
  annotations:
    app.openshift.io/connects-to: "{{name}}-mongodb-microcks,{{name}}-postman-runtime-microcks,{{name}}-keycloak-microcks"
spec:
  replicas: {{microcks.replicas|int}}
  selector: 
    matchLabels:  
      app: "{{name}}"
      deployment: "{{name}}"
      container: spring
      group: microcks
  template:
    metadata:
      labels:
        app: "{{name}}"
        deployment: "{{name}}"
        container: spring
        group: microcks
    spec:
      containers:
      - name: spring
        image: "{{registry|default('quay.io')}}/microcks/microcks:{{version}}"
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          protocol: TCP
        env:
          - name: JAVA_OPTIONS
            value: "-XX:+TieredCompilation -XX:TieredStopAtLevel=2"
          - name: JAVA_MAJOR_VERSION
            value: "11"
          - name: SPRING_PROFILES_ACTIVE
            value: prod{% if microcks.extra_properties is defined %},extra{% endif %}
            
          - name: SPRING_DATA_MONGODB_URI
            value: mongodb://${SPRING_DATA_MONGODB_USER}:${SPRING_DATA_MONGODB_PASSWORD}@{{mongodb.uri|default(name ~ '-mongodb:27017')}}/${SPRING_DATA_MONGODB_DATABASE}{{mongodb.uri_parameters|default('')}}
          - name: SPRING_DATA_MONGODB_USER
            valueFrom:
              secretKeyRef:
                key: {{mongodb.secret_ref.username_key|default('username')}}
                name: {{mongodb.secret_ref.secret|default(name ~ '-mongodb-connection')}}
          - name: SPRING_DATA_MONGODB_PASSWORD
            valueFrom:
              secretKeyRef:
                key: {{mongodb.secret_ref.password_key|default('password')}}
                name: {{mongodb.secret_ref.secret|default(name ~ '-mongodb-connection')}}
          - name: SPRING_DATA_MONGODB_DATABASE
            value: "{{mongodb.database|default(name)}}"
          - name: POSTMAN_RUNNER_URL
            value: http://{{name}}-postman-runtime:8080
          - name: TEST_CALLBACK_URL
            value: http://{{name}}:8080
          {% if keycloak.private_url is defined -%}
          - name: KEYCLOAK_URL
            value: {{keycloak.private_url}}
          - name: KEYCLOAK_PUBLIC_URL
            value: https://{{keycloak.url|default(keycloak_url)}}
          {% else -%}
          - name: KEYCLOAK_URL
            value: https://{{keycloak.url|default(keycloak_url)}}
          {% endif -%}
          - name: ASYNC_MINION_URL
            value: http://{{name}}-async-minion:8080
          - name: KAFKA_BOOTSTRAP_SERVER
            {%- if features.async.kafka.install %}
            
            value: "{{name}}-kafka-kafka-bootstrap:9092"
            {%- else %}
            
            value: "{{features.async.kafka.url}}"
            {%- endif %}

          {% if not features.async.kafka.install|bool %}
            {%- if not features.async.kafka.authentication.type == 'none' %}

          - name: KAFKA_TRUSTSTORE_PASSWORD
            valueFrom:
              secretKeyRef:
                key: {{features.async.kafka.authentication.truststore_secret_ref.password_key}}
                name: {{features.async.kafka.authentication.truststore_secret_ref.secret|default(name + "-kafka-truststore")}}
            {%- endif %}
            {%- if features.async.kafka.authentication.type == 'SSL' %}

          - name: KAFKA_KEYSTORE_PASSWORD
            valueFrom:
              secretKeyRef:
                key: {{features.async.kafka.authentication.keystore_secret_ref.password_key}}
                name: {{features.async.kafka.authentication.keystore_secret_ref.secret|default(name + "-kafka-keystore")}}
            {%- endif %}
          {% endif %}

          {{ microcks.env | to_nice_yaml(indent=10) | trim | indent(10) }}
        resources:
          {{ microcks.resources | to_nice_yaml(indent=10) | trim | indent(10) }}
        livenessProbe:
          httpGet:
            path: "/api/health"
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 15
          timeoutSeconds: 3
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: "/api/health"
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 20
          timeoutSeconds: 3
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
        startupProbe:
          httpGet:
            path: "/api/health"
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 10
          timeoutSeconds: 3
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 10
        volumeMounts:
          - name: "{{name}}-config"
            mountPath: "/deployments/config"
          - name: "{{name}}-grpc-certs"  
            mountPath: "/deployments/config/grpc"
          {% if not features.async.kafka.install|bool %}
            {%- if not features.async.kafka.authentication.type == 'none' %}

          - name: "{{name}}-kafka-truststore"
            mountPath: "/deployments/config/kafka/truststore"
            {%- endif %}
            {%- if features.async.kafka.authentication.type == 'SSL' %}

          - name: "{{name}}-kafka-keystore"
            mountPath: "/deployments/config/kafka/keystore"
            {%- endif %}
          {% endif %}

          {% if microcks.custom_secret_ref is defined %}

          - name: "{{ microcks.custom_secret_ref.secret }}"
            mountPath: "/deployments/config/custom/secret"
          {% endif %}

        terminationMessagePath: "/dev/termination-log"
      volumes:
      - name: "{{name}}-config"
        configMap:
          name: "{{name}}-config"
      - name: "{{name}}-grpc-certs"
        secret:
          secretName: "{{name}}-microcks-grpc-secret"
      {% if not features.async.kafka.install|bool -%}
        {%- if not features.async.kafka.authentication.type == 'none' %}

      - name: "{{name}}-kafka-truststore"
        secret:
          secretName: "{{features.async.kafka.authentication.truststore_secret_ref.secret}}"
        {%- endif %}
        {%- if features.async.kafka.authentication.type == 'SSL' %}
        
      - name: "{{name}}-kafka-keystore"
        secret:
          secretName: "{{features.async.kafka.authentication.keystore_secret_ref.secret}}"
        {%- endif %}
      {% endif %}

      {% if microcks.custom_secret_ref is defined %}

      - name: "{{ microcks.custom_secret_ref.secret }}"
        secret:
          secretName: "{{ microcks.custom_secret_ref.secret }}"
      {% endif %}